.artboard4
  .stacked-group5-layout-container
    .stacked-group5
      .stack-view1
        .nos-prochaines-actio
          | Nos prochaines
          br
          | actions ?
        img.path17(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4path 17@2x.png')
      .avec-le-sta Avec le STA ? 
  .rectangle7
  .stacked-group4-layout-container
    .stacked-group4
      .stack-view2
        .stack-view3
          .qui-sommes-nous Qui sommes nous ?
          .darko-popovic-jr Darko Popovic & Jérémie Aubut
        .logochanvrequebec
          img.image1(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4image 1@2x.png')
          img.image2(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4image 2@2x.png')
      .stack-view4
        .stack-view5
          .a1 1.
          .site-web Site web
        .stacked-group6
          .a2 2.
          .connaissance-du-marc Connaissance du marché
        .avantage3
          .a3 3.
          .relation-avec-le-mil Relation avec le mileu
  .stacked-group3-layout-container
    .stacked-group3
      .stack-view6
        .nos-fondements-desig Nos fondements design
        .au-got-du-jour Au goût du jour
      .stack-view7
        .artisanal
          img.ovalartisanal(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4ovalartisanal@2x.png')
          .label1 artisanal
        .stack-view8
          .moderne
            img.ovalmodern(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4ovalmodern@2x.png')
            .label2 moderne
          .colour
            img.ovalcolour(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4ovalcolour@2x.png')
            .color coloré
  .stack-view9-layout-container
    .stack-view9
      img.rendubonvivant(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4rendubonvivant.png')
      .stack-view10
        .stacked-group9
          .oval6
          .boule-dnergie Boule d’énergie
        .stacked-group8
          .oval6-copy
          .pain-protin Pain protéiné
        .stacked-group7
          .oval6-copy2
          .veggie-burger Veggie Burger
        .stack-view11
          img.oval6-copy3(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4oval 6 copy 3@2x.png')
          .gteau-choco Gâteau Choco
  .wave
    img.path14(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4path 14@2x.png')
    img.path13(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4path 13@2x.png')
    img.path13-copy(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4path 13 copy.png')
  .stacked-group2-layout-container
    .stacked-group2
      .stack-view16
        .bon-viant [bon viant]
        .un-bon-vivant-est-un
          | Un bon vivant est une personne ayant des goûts cultivés, raffinés et sociables surtout en matière de nourriture et de boisson.
          br
      .stack-view12
        .stack-view15
          .label5 1.
          .des-recettes-santes Des recettes santées
        .stack-view14
          .label4 2.
          .des-recettes-qui-go
            | Des recettes qui goûtent
            br
            | bonnes
        .stack-view13
          .label3 3.
          .des-recettes-varies Des recettes variées
  img.logobird(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4logobird@2x.png')
  .stack-view17-layout-container
    .stack-view17
      .stacked-group
        .pain pain
        .label6 boule d’énergie
        .label7 veggie burger
        .gteau-chocolat gâteau chocolat
      .stack-view18
        .logogroup
          img.image3(src='', anima-src='https://anima-uploads.s3.amazonaws.com/590c0431364056000b9d2318/5935f79eaa26e8000d9ab996/593613238ab2aa000da2dcfb/img/artboard 4logobird  1@2x.png')
          .bonvivant bonvivant
        .simplifier-le-plaisi Simplifier le plaisir de manger sainement.
script.
  anima_isHidden=function(e){return e instanceof HTMLElement&&("none"==getComputedStyle(e).display||!(!e.parentNode||!anima_isHidden(e.parentNode)))},anima_loadAsyncSrcForTag=function(e){for(var n=document.getElementsByTagName(e),a=[],i=0;i<n.length;i++){var o=(t=n[i]).getAttribute("src");void 0!=o&&o.length>0||void 0!=(d=t.getAttribute("anima-src"))&&0!=d.length&&(anima_isHidden(t)||a.push(t))}a.sort(function(e,n){return anima_getTop(e)-anima_getTop(n)});for(i=0;i<a.length;i++){var t=a[i],d=t.getAttribute("anima-src");t.setAttribute("src",d)}},anima_pauseHiddenVideos=function(e){for(var n=document.getElementsByTagName("video"),a=0;a<n.length;a++){var i=n[a],o=!!(i.currentTime>0&&!i.paused&&!i.ended&&i.readyState>2),t=anima_isHidden(i);o||t||"autoplay"!=i.getAttribute("autoplay")?o&&t&&i.pause():i.play()}},anima_loadAsyncSrc=function(e){anima_loadAsyncSrcForTag("img"),anima_loadAsyncSrcForTag("iframe"),anima_loadAsyncSrcForTag("video"),anima_pauseHiddenVideos()};var anima_getTop=function(e){var n=0;do{n+=e.offsetTop||0,e=e.offsetParent}while(e);return n};anima_loadAsyncSrc(),anima_old_onResize=window.onresize,anima_new_onResize=void 0,anima_updateOnResize=function(){void 0!=anima_new_onResize&&window.onresize==anima_new_onResize||(anima_new_onResize=function(e){void 0!=anima_old_onResize&&anima_old_onResize(e),anima_loadAsyncSrc()},window.onresize=anima_new_onResize,setTimeout(function(){anima_updateOnResize()},3e3))},anima_updateOnResize();
  setTimeout(function() { anima_loadAsyncSrc(); }, 200);
script(src='launchpad-js/launchpad-banner.js', async='', defer='')
